@import url("cabinet-grotesk.css");
@import url("dm-sans.css");
:root {
  --pure-black: rgba(0,0,0,1);
  --gray1: #4C5B6E;
  --gray2: #A5B7BF;
  --teal1: #417685;
  --teal2: #417D8C;
  --white1: #E4E9EC;
  --white2: #E2E2E2;
  --accent1: #855041;
  --accent2: #F78A4D;
  --smokyblack: #2d2d2d;
  --font-family-body: "dm_sansregular", serif;
  --font-family-header: "CabinetGrotesk-Bold", sans-serif;
  --font-size-h1: 4.21rem;
  --font-size-h2: 3.16rem;
  --font-size-h3: 2.37rem;
  --font-size-h4: 1.78rem;
  --font-size-h5: 1.33rem;
  --font-size-h6: 1.00rem;
  --font-size-p: 1.75rem;
  --font-size-p-small: 1.00rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  margin: auto;
  letter-spacing: 0;
  font-style: normal;
  color: var(--white1);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-p);
  font-family: var(--font-family-body);
  color: var(--white1);
}

body {
  background-color: var(--white2);
  min-height: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#gradient-canvas {
  width: 100%;
  height: 45em;
  --gradient-color-1: #23b684;
  --gradient-color-2: #1b9ec2;
  --gradient-color-3: #1dc660;
  --gradient-color-4: #1dccc3;
}

#gradient-canvas-footer {
  width: 100%;
  height: 22.5em;
  --gradient-color-1: #4d4d4d;
  --gradient-color-2: #363636;
  --gradient-color-3: #2d2d2d;
  --gradient-color-4: #292929;
}

.logo {
  cursor: pointer;
}

.custom-shape-divider-bottom-1669143587 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669143587 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1669143587 .shape-fill {
  fill: var(--white2);
}

.custom-shape-divider-top-1669227445 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669227445 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1669227445 .shape-fill {
  fill: var(--white2);
}

section.hero .wrapper {
  position: relative;
  width: 100%;
  height: 45em;
}
section.hero .wrapper .content {
  position: relative;
  z-index: 100;
}
section.hero .wrapper .content .nav .wrapper {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 5em;
}
section.hero .wrapper .content .nav .wrapper h4 a, section.hero .wrapper .content .nav .wrapper h5 a {
  color: var(--white1);
}
section.hero .wrapper .content .nav .wrapper nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1.5em;
}
section.hero .wrapper .content .nav .wrapper nav li a {
  transition: all 0.3s ease 0s;
}
section.hero .wrapper .content .nav .wrapper nav li a:hover {
  transition: all 0.3s ease 0s;
  color: var(--accent2);
}
section.hero .wrapper .content .nav .wrapper .nav-cta img {
  width: 1.5rem;
  filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%);
}
section.hero .wrapper .content .nav .wrapper .nav-cta a {
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
}
section.hero .wrapper .content .nav .wrapper .nav-cta a:hover {
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
}
section.hero .wrapper .content .nav .wrapper .nav-cta a:hover img {
  transition: all 0.3s ease 0s;
  width: 1.5rem;
  filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
}
section.hero .wrapper .content .nav .wrapper .nav-cta a:hover h4 {
  transition: all 0.3s ease 0s;
  color: var(--accent2);
}
section.hero .wrapper .content .nav .wrapper .logo a {
  transition: all 0.3s ease 0s;
}
section.hero .wrapper .content .nav .wrapper .logo a:hover {
  transition: all 0.3s ease 0s;
}
section.hero .wrapper .content .nav .wrapper .logo a:hover h4 {
  transition: all 0.3s ease 0s;
  color: var(--accent2);
}
section.hero .wrapper .content .hero-info {
  width: 100%;
  height: 41em;
  top: 4em;
  padding: 6em 5em;
}
section.hero .wrapper .content .hero-info .hero-main {
  position: relative;
  height: 20.3125em;
  width: 35em;
  text-align: left;
  padding-bottom: 4.8125;
}
section.hero .wrapper .content .hero-info .hero-cta {
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 9.75em;
  height: 5.3125em;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  line-height: 0.8em;
}
section.hero .wrapper .content .hero-info .hero-cta a h4 {
  transition: all 0.3s ease 0s;
  color: var(--white2);
}
section.hero .wrapper .content .hero-info .hero-cta a img {
  transition: all 0.3s ease 0s;
  height: 3em;
  width: 3em;
  filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%);
}
section.hero .wrapper .content .hero-info .hero-cta:hover {
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 9.75em;
  height: 5.3125em;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5em;
  margin-left: auto;
  margin-right: auto;
}
section.hero .wrapper .content .hero-info .hero-cta:hover a h4 {
  transition: all 0.3s ease 0s;
  color: var(--accent2);
}
section.hero .wrapper .content .hero-info .hero-cta:hover a img {
  transition: all 0.3s ease 0s;
  filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
}
section.hero .wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 45em;
  width: 100%;
  z-index: -100;
}

section.my-code h1, section.my-code h2, section.my-code h3, section.my-code h4, section.my-code h5, section.my-code h6, section.my-code p, section.my-art h1, section.my-art h2, section.my-art h3, section.my-art h4, section.my-art h5, section.my-art h6, section.my-art p {
  color: var(--smokyblack);
}

section about p {
  font-size: var(--font-size-p-smallsmall);
  font-family: var(--font-family-body);
  color: var(--white1);
}

section.my-code {
  margin: 2.5em 5em 10em 5em;
}
section.my-code .row {
  display: flex;
  width: 100%;
}
section.my-code .column {
  flex: 50%;
}
section.my-code .full-header {
  width: 21.94em;
  height: 5.56em;
  margin: 0;
}
section.my-code .full-header .header {
  width: 16.75em;
  height: 3.94em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.my-code .full-header .header h2 {
  text-align: left;
}
section.my-code .full-header .header img {
  vertical-align: middle;
  width: 3.5rem;
  filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
}
section.my-code .info {
  display: block;
  margin-left: auto;
  padding-top: 7.25em;
  padding-bottom: 3.53125em;
  width: 33.5em;
}
section.my-code .info p {
  text-align: right;
}
section.my-code .info-cta {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}
section.my-code .info-cta h3 {
  margin: 0;
}
section.my-code .info-cta img {
  vertical-align: middle;
  width: 3rem;
  filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
}
section.my-code .image {
  padding-top: 1.9375em;
}
section.my-code .image img {
  width: 33.5em;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
  border-radius: 1em;
}

section.my-art {
  margin: 2.5em 5em 10em 5em;
}
section.my-art .row {
  display: flex;
  width: 100%;
}
section.my-art .column {
  flex: 50%;
}
section.my-art .full-header {
  float: right;
  width: 17.81em;
  height: 5.56em;
  margin: 0;
}
section.my-art .full-header .header {
  float: right;
  width: 14.19em;
  height: 3.94em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.my-art .full-header .header h2 {
  text-align: right;
  vertical-align: middle;
}
section.my-art .full-header .header img {
  width: 3.5rem;
  filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
}
section.my-art .info {
  padding-top: 7.25em;
  padding-bottom: 3.53125em;
  width: 33.5em;
}
section.my-art .info p {
  text-align: left;
}
section.my-art .info-cta {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}
section.my-art .info-cta h3 {
  margin: 0;
}
section.my-art .info-cta img {
  vertical-align: middle;
  width: 3rem;
  filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
}
section.my-art .image {
  clear: right;
  padding-top: 1.9375em;
}
section.my-art .image img {
  display: block;
  margin-left: auto;
  width: 33.5em;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100%;
     object-position: 100%;
  border-radius: 1em;
}

section.about-section {
  overflow: hidden;
  margin: 0;
}
section.about-section .wrapper {
  position: relative;
  width: 100%;
  height: 22.5em;
}
section.about-section .wrapper .content {
  padding-top: 5em;
  position: relative;
  z-index: 100;
}
section.about-section .wrapper .content .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
section.about-section .wrapper .content .about ul li {
  list-style-type: none;
  display: inline-block;
}
section.about-section .wrapper .content .about ul li img {
  width: 3rem;
  filter: invert(98%) sepia(2%) saturate(416%) hue-rotate(168deg) brightness(96%) contrast(93%);
}
section.about-section .wrapper .background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 22.5em;
  width: 100%;
  z-index: -100;
}
section.about-section .wrapper .background .canvas {
  height: 100%;
}/*# sourceMappingURL=main.css.map */