@import url('cabinet-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

// Variables

:root {
    --pure-black: rgba(0, 0, 0, 1);
    --gray1: #4C5B6E;
    --gray2: #A5B7BF;
    --teal1: #417685;
    --teal2: #417D8C;
    --white1: #E4E9EC; // for text
    --white2: #E2E2E2; // for backgrounds
    --accent1: #855041;
    --accent2: #F78A4D;
    --smokyblack: #2d2d2d;

    --font-family-body: 'DM Sans', sans-serif;
    --font-family-header: "CabinetGrotesk-Bold", sans-serif;

    --font-size-h1: 4.21rem;
    --font-size-h2: 3.16rem;
    --font-size-h3: 2.37rem;
    --font-size-h4: 1.78rem;
    --font-size-h5: 1.33rem;
    --font-size-h6: 1.00rem;
    --font-size-p: 1.75rem;
    --font-size-p-small: 1.00rem;
}

// Classes
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-header);
    margin: auto;
    letter-spacing: 0;
    font-style: normal;
    color: var(--white1);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    font-size: var(--font-size-p);
    font-family: var(--font-family-body);
    color: var(--white1);
}

span.psmall {
    font-size: var(--font-size-p-small);
    font-family: var(--font-family-body);
    color: var(--white1);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white2);
    min-height: 100%;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Canvases
#gradient-canvas-index {
    width: 100%;
    height: 45em;
    --gradient-color-1: #23b684;
    --gradient-color-2: #1b9ec2;
    --gradient-color-3: #1dc660;
    --gradient-color-4: #1dccc3;
}

#gradient-canvas-footer {
    width: 100%;
    height: 22.5em;
    --gradient-color-1: #4d4d4d;
    --gradient-color-2: #363636;
    --gradient-color-3: #2d2d2d;
    --gradient-color-4: #292929;
}

// Cursors
.logo {
    cursor: pointer;
}

// Dark and Light Text Switching
section.my-code,
section.my-art,
section.euanjed,
section.art1,
section.art2,
section.gallery,
section.timelapses {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span.psmall {
        color: var(--smokyblack);
    }
}

// Shape Dividers
.custom-shape-divider-bottom-1669143587 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669143587 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1669143587 .shape-fill {
    fill: var(--white2);
}

.custom-shape-divider-top-1669227445 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669227445 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1669227445 .shape-fill {
    fill: var(--white2);
}

section.hero-index {
    .wrapper {
        position: relative;
        width: 100%;
        height: 45em;

        .content {
            position: relative;
            z-index: 100;

            .nav .wrapper {
                width: 100%;
                height: 4em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.75em 5em;

                h4 a,
                h5 a {
                    color: var(--white1);
                }
            }

            .nav .wrapper nav li {
                list-style-type: none;
                display: inline-block;
                padding: 0 1.5em;

                a {
                    transition: all 0.3s ease 0s;
                }

                a:hover {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .nav-cta img {
                width: 1.5rem;
                filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%); // Changes white to black
            }

            .nav .wrapper .nav-cta a {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;
            }

            .nav .wrapper .nav-cta a:hover {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;

                img {
                    transition: all 0.3s ease 0s;
                    width: 1.5rem;
                    filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                }

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .logo a {
                transition: all 0.3s ease 0s;
            }

            .nav .wrapper .logo a:hover {
                transition: all 0.3s ease 0s;

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .hero-info {
                width: 100%;
                height: 41em;
                top: 4em;
                padding: 6em 5em;

                .hero-main {
                    position: relative;
                    height: 20.3125em;
                    width: 35em;
                    text-align: left;
                    padding-bottom: 4.8125;

                }

                .hero-cta {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;
                    line-height: 0.8em;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--white2);
                    }


                    a img {
                        transition: all 0.3s ease 0s;
                        height: 3em;
                        width: 3em;
                        filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%);
                    }
                }

                .hero-cta:hover {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--accent2);
                    }

                    a img {
                        transition: all 0.3s ease 0s;
                        filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                    }
                }
            }
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 45em;
            width: 100%;
            z-index: -100;
        }
    }
}

section about {
    p {
        font-size: var(--font-size-p-smallsmall);
        font-family: var(--font-family-body);
        color: var(--white1);
    }
}

section.my-code {
    margin: 2.5em 5em 10em 5em;

    .row {
        display: flex;
        width: 100%;
    }

    .column {
        flex: 50%;
    }

    .full-header {
        width: 21.94em;
        height: 5.56em;
        margin: 0;

        .header {
            width: 16.75em;
            height: 3.94em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                text-align: left;
                // margin-left: 0;
            }

            img {
                vertical-align: middle;
                width: 3.5rem;
                filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
            }
        }
    }

    .info {
        display: block;
        margin-left: auto;
        padding-top: 7.25em;
        padding-bottom: 3.53125em;
        width: 33.5em;

        p {
            text-align: right;
        }
    }

    .info-cta {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        margin: auto;

        h3 {
            margin: 0;
        }

        img {
            vertical-align: middle;
            width: 3rem;
            filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
        }
    }

    .image {
        padding-top: 1.9375em;

        img {
            width: 33.50em;
            height: 25.00em;
            object-fit: cover;
            object-position: 0%;
            border-radius: 1em;
        }
    }
}

section.my-art {
    margin: 2.5em 5em 10em 5em;

    .row {
        display: flex;
        width: 100%;
    }

    .column {
        flex: 50%;
    }

    .full-header {
        float: right;
        width: 17.81em;
        height: 5.56em;
        margin: 0;

        .header {
            float: right;
            width: 14.19em;
            height: 3.94em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                text-align: right;
                vertical-align: middle;
                // margin-left: 0;
            }

            img {
                width: 3.5rem;
                filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
            }
        }
    }

    .info {
        padding-top: 7.25em;
        padding-bottom: 3.53125em;
        width: 33.5em;

        p {
            text-align: left;
        }
    }

    .info-cta {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin: auto;

        h3 {
            margin: 0;
        }

        img {
            vertical-align: middle;
            width: 3rem;
            filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
        }
    }

    .image {
        clear: right;
        padding-top: 1.9375em;

        img {
            display: block;
            margin-left: auto;
            width: 33.50em;
            height: 25.00em;
            object-fit: cover;
            object-position: 100%;
            border-radius: 1em;
        }
    }
}

section.about-section {
    overflow: hidden;
    margin: 0;

    .wrapper {
        position: relative;
        width: 100%;
        height: 22.5em;

        .content {
            padding-top: 5em;
            position: relative;
            z-index: 100;

            .about {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;

                h6 .attribution a {
                    color: var(--accent2);
                }

                ul {

                    li {
                        list-style-type: none;
                        display: inline-block;

                        img {
                            width: 3rem;
                            filter: invert(98%) sepia(2%) saturate(416%) hue-rotate(168deg) brightness(96%) contrast(93%);
                        }
                    }
                }
            }
        }

        .background {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 22.5em;
            width: 100%;
            z-index: -100;

            .canvas {
                height: 100%;
            }
        }
    }
}

// *AboutMe

// Canvas

#gradient-canvas-aboutme {
    width: 100%;
    height: 45em;
    --gradient-color-1: #cc8506;
    --gradient-color-2: #d9b604;
    --gradient-color-3: #e37605;
    --gradient-color-4: #e3a805;
}

// Shape Dividers
.custom-shape-divider-bottom-1670139550 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670139550 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1670139550 .shape-fill {
    fill: var(--white2);
}


// CSS

section.hero-aboutme {
    .wrapper {
        position: relative;
        width: 100%;
        height: 45em;

        .content {
            position: relative;
            z-index: 100;

            .nav .wrapper {
                width: 100%;
                height: 4em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.75em 5em;

                h4 a,
                h5 a {
                    color: var(--white1);
                }
            }

            .nav .wrapper nav li {
                list-style-type: none;
                display: inline-block;
                padding: 0 1.5em;

                a {
                    transition: all 0.3s ease 0s;
                }

                a:hover {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .nav-cta img {
                width: 1.5rem;
                filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%); // Changes white to black
            }

            .nav .wrapper .nav-cta a {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;
            }

            .nav .wrapper .nav-cta a:hover {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;

                img {
                    transition: all 0.3s ease 0s;
                    width: 1.5rem;
                    filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                }

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .logo a {
                transition: all 0.3s ease 0s;
            }

            .nav .wrapper .logo a:hover {
                transition: all 0.3s ease 0s;

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .hero-info {
                width: 100%;
                height: 41em;
                top: 4em;
                padding: 6em 5em;

                .hero-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: auto;
                    height: 20.3125em;
                    width: 35em;
                    text-align: center;
                    padding-bottom: 4.8125;

                }

                .hero-cta {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;
                    line-height: 0.8em;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--white2);
                    }


                    a img {
                        transition: all 0.3s ease 0s;
                        height: 3em;
                        width: 3em;
                        filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%);
                    }
                }

                .hero-cta:hover {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--accent2);
                    }

                    a img {
                        transition: all 0.3s ease 0s;
                        filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                    }
                }
            }
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 45em;
            width: 100%;
            z-index: -100;
        }
    }
}

section.euanjed {
    margin: 2.5em 5em 10em 5em;

    .row {
        display: flex;
        width: 100%;
    }

    .column {
        flex: 50%;
    }

    .full-header {
        width: 31.31em;
        height: 4.13em;
        margin: 0;

        .header {
            width: 31.31em;
            height: 4.13em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                text-align: left;
                // margin-left: 0;
            }

            img {
                vertical-align: middle;
                width: 3.5rem;
                filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
            }
        }
    }

    .info {
        display: block;
        margin-left: auto;
        padding-top: 7.25em;
        padding-bottom: 3.53125em;
        width: 33.5em;

        p {
            text-align: right;
        }
    }

    .info-cta {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        margin: auto;

        h3 {
            margin: 0;
        }

        img {
            vertical-align: middle;
            width: 3rem;
            filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
        }
    }

    .image {
        padding-top: 1.9375em;

        img {
            width: 33.50em;
            height: 25.00em;
            object-fit: cover;
            object-position: 0%;
            border-radius: 1em;
        }
    }
}



// *MyArt

// Canvas
#gradient-canvas-myart {
    width: 100%;
    height: 45em;
    --gradient-color-1: #a435ff;
    --gradient-color-2: #2a29ff;
    --gradient-color-3: #ff29da;
    --gradient-color-4: #5b25e8;
}

// Shape Dividers

.custom-shape-divider-bottom-1670139929 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670139929 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1670139929 .shape-fill {
    fill: var(--white2);
}

// CSS

section.hero-myart {
    .wrapper {
        position: relative;
        width: 100%;
        height: 45em;

        .content {
            position: relative;
            z-index: 100;

            .nav .wrapper {
                width: 100%;
                height: 4em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.75em 5em;

                h4 a,
                h5 a {
                    color: var(--white1);
                }
            }

            .nav .wrapper nav li {
                list-style-type: none;
                display: inline-block;
                padding: 0 1.5em;

                a {
                    transition: all 0.3s ease 0s;
                }

                a:hover {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .nav-cta img {
                width: 1.5rem;
                filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%); // Changes white to black
            }

            .nav .wrapper .nav-cta a {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;
            }

            .nav .wrapper .nav-cta a:hover {
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;

                img {
                    transition: all 0.3s ease 0s;
                    width: 1.5rem;
                    filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                }

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .nav .wrapper .logo a {
                transition: all 0.3s ease 0s;
            }

            .nav .wrapper .logo a:hover {
                transition: all 0.3s ease 0s;

                h4 {
                    transition: all 0.3s ease 0s;
                    color: var(--accent2);
                }
            }

            .hero-info {
                width: 100%;
                height: 41em;
                top: 4em;
                padding: 6em 5em;

                .hero-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: auto;
                    height: 20.3125em;
                    width: 35em;
                    text-align: center;
                    padding-bottom: 4.8125;

                }

                .hero-cta {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;
                    line-height: 0.8em;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--white2);
                    }


                    a img {
                        transition: all 0.3s ease 0s;
                        height: 3em;
                        width: 3em;
                        filter: invert(89%) sepia(5%) saturate(637%) hue-rotate(189deg) brightness(110%) contrast(85%);
                    }
                }

                .hero-cta:hover {
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    width: 9.75em;
                    height: 5.3125em;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: 5em;
                    margin-left: auto;
                    margin-right: auto;

                    a h4 {
                        transition: all 0.3s ease 0s;
                        color: var(--accent2);
                    }

                    a img {
                        transition: all 0.3s ease 0s;
                        filter: invert(78%) sepia(38%) saturate(5407%) hue-rotate(328deg) brightness(103%) contrast(94%);
                    }
                }
            }
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 45em;
            width: 100%;
            z-index: -100;
        }
    }
}

section.art1,
section.art2 {
    margin: 2.5em 5em 10em 5em;

    .row {
        display: flex;
        width: 100%;
    }

    .column {
        flex: 50%;
    }

    .full-header {
        width: 24.00em;
        height: 4.13em;
        margin: 0;

        .header {
            width: 24.00em;
            height: 4.13em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                text-align: left;
            }

            img {
                vertical-align: middle;
                width: 3.5rem;
                filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
            }
        }
    }

    .info {
        display: block;
        margin-left: auto;
        padding-top: 7.25em;
        padding-bottom: 3.53125em;
        width: 33.5em;

        p {
            text-align: right;
        }
    }

    .info-cta {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        margin: auto;

        h3 {
            margin: 0;
        }

        img {
            vertical-align: middle;
            width: 3rem;
            filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
        }
    }

    .image {
        padding-top: 1.9375em;

        img {
            width: 33.50em;
            height: 25.00em;
            object-fit: cover;
            object-position: 100% 35%;
            border-radius: 1em;
        }
    }
}

section.gallery {
    height: 105em;

    .wrapper {
        .full-header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 15.44em;
            height: 7em;

            .header {
                width: 15.44em;
                height: 4.13em;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    text-align: left;
                    // margin-left: 0;
                }

                img {
                    vertical-align: middle;
                    width: 3.5rem;
                    filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
                }
            }
        }

        .artGallery {
            // max-width: 75em;
            margin: 0 5em;
            padding: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 6.52em;
            gap: 1em;

            .box {
                width: 20.19em;
                position: relative;
                border-radius: 1em;
                object-fit: cover;
                border: 0;

                &:nth-of-type(1) {
                    img {
                        object-position: 75%;
                    }
                }

                &:nth-of-type(3) {
                    img {
                        object-position: 50%;
                    }
                }

                .text {
                    position: absolute;
                    top: 0.5em;
                    left: 1em;

                    h4,
                    span.psmall {
                        text-align: left;
                        color: var(--white1);
                        z-index: 2;
                    }
                }

                img {
                    display: block;
                    width: 20.19em;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1em;
                    // z-index: -1;
                }


            }

            .box.short {
                grid-row: span 3;
            }

            .box.tall {
                grid-row: span 4;
            }

            .box:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 1em;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 45%);
                z-index: 0;
                border: 0;

                .text:before {
                    position: absolute;
                    top: 0.5em;
                    left: 1em;

                    h4,
                    span.psmall {
                        text-align: left;
                        color: var(--white1);
                        z-index: 2;
                    }
                }
            }
        }
    }
}

section.timelapses {
    margin: 0 5em;

    .wrapper .full-majorheader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em auto;
        width: 22em;
        height: 4.13em;

        .majorheader {
            width: 22em;
            height: 4.13em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                text-align: left;
                // margin-left: 0;
            }

            img {
                vertical-align: middle;
                width: 3.5em;
                filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
            }
        }
    }

    .wrapper {
        .selfportraitday2022 {
            height: 54.38em;

            .full-header {
                width: 40em;
                height: 5.88em;
                margin: 0;
                margin-bottom: 1.625em;

                .header {
                    width: 38.50em;
                    height: 4.13em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        text-align: left;
                    }

                    img {
                        vertical-align: middle;
                        width: 3.5rem;
                        filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
                    }
                }
            }

            .video iframe {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50em;
                height: 28.13em;
                border-radius: 1em;
                margin: auto;
            }
        }

        .jonathanbailey {
            height: 54.38em;

            .full-header {
                width: 31.25em;
                height: 5.88em;
                margin: 0;
                margin-bottom: 1.625em;

                .header {
                    width: 31.25em;
                    height: 4.13em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        text-align: left;
                    }

                    img {
                        vertical-align: middle;
                        width: 3.5rem;
                        filter: invert(12%) sepia(18%) saturate(0%) hue-rotate(89deg) brightness(98%) contrast(87%);
                    }
                }
            }

            .video iframe {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50em;
                height: 28.13em;
                border-radius: 1em;
                margin: auto;
            }
        }
    }
}